# Python
__pycache__/
*.py[cod]
*.so
.venv/

# IDE
.vscode/
__pylance__/

# System
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter
.ipynb_checkpoints/
notebooks/

# Data (ignore raw data)
data/

# Reports
reports/

# DVC
.dvc/
.dvcignore
dvc.lock

# MLflow
mlruns/
mlflow/

# Logs
*.log

# Zip
*.zip

# Docker (optional)
*.tar

# 🔥 Artifacts (IMPORTANT)
artifacts/*
!artifacts/models/
!artifacts/preprocessing/
